:root {
    --shadeOne: #FEFCF8;
    --shadeTwo: #D9D1BB;
    --shadeThree: #C5BC9F;
    --shadeFour: #9D9475;
    --shadeFive: #5F5948;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}
body{
    background-color: var(--shadeOne);
}
header{
    display: flex;
    flex-direction: row;
    margin-top: 0vh;
    position: fixed;
    z-index: 100;
    background-color: var(--shadeOne);
}
header a{
    text-decoration: none;
    font-size: 1 em;
    color: var(--shadeFive);
    margin-left: 2vw;
    font-weight: 500;
    visibility: hidden;
}
header a:active, a:hover{
    color: var(--shadeFive);
    font-weight: 700;
}
header img{
    width: 8vw;
    margin-left: 4vw;
    visibility: none;
}
.navTwo,.navThree{
    margin-top: 7vh;
}
.navTwo{
    margin-left: 6vh;
}
.navThree{
    margin-left: 27vw;
}
.navLine {
    border-left: 1px solid var(--shadeFour);
    height: 2.5rem;
    margin-left: 0.5vw;
}
body::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: var(--shadeOne);        /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--shadeFive);    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
  }
/* header */

.homeSection{
    display: flex;
    margin-top: 4vh;
    /* background-image: url(/Image/home/background.svg); */
}
.discoverSticky{
    margin-left: 18vw;
    margin-top: 80vh;
    position: fixed;
    z-index: 100;
}
.discoverSticky a{
    color: var(--shadeFour);
    text-decoration: none;
    font-size: 1.2em;
    position: fixed;
}
.discoverSticky a:hover{
    font-weight: 400;
}
.section img{
    z-index: -1;
}
.sectionNav{
    position: fixed;
    z-index: 100;
    margin-top: 43vh;
    right: 11vw;
    align-items: center;
    align-content: center;
}
.sectionNav ul li i{
    background-color: var(--shadeFive);
    color: var(--shadeOne);
    padding: 1vh 1vw;
    border-radius: 50px;
}
.sectionNav ul li{
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: var(--shadeFour);
}
.section{
    width: 35%;
    margin-top: 25vh;
    margin-left: 40vw;
    margin-bottom: 10vh;
    visibility: none;
}