:root {
    --shadeOne: #FEFCF8;
    --shadeTwo: #D9D1BB;
    --shadeThree: #C5BC9F;
    --shadeFour: #9D9475;
    --shadeFive: #5F5948;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}
body{
    background-color: var(--shadeOne);
}
header{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}
header a{
    text-decoration: none;
    font-size: 1 em;
    color: var(--shadeFive);
    margin-left: 2vw;
    font-weight: 500;
}
header a:active, a:hover{
    color: var(--shadeFive);
    font-weight: 700;
}
header img{
    width: 8vw;
    margin-left: 4vw;
}
.navTwo,.navThree{
    margin-top: 7vh;
}
.navTwo{
    margin-left: 6vh;
}
.navThree{
    margin-left: 27vw;
}
.navLine {
    border-left: 1px solid var(--shadeFour);
    height: 2.5rem;
    margin-left: 0.5vw;
}
/* header */

.homeSection{
    display: flex;
    margin-top: 4vh;
}
.discoverSticky{
    margin-left: 17vw;
    margin-top: 60vh;
}
.discoverSticky a{
    color: var(--shadeFour);
    text-decoration: none;
    font-size: 1.5em;
}
.discoverSticky a:hover{
    font-weight: 400;
}