:root {
    --shadeOne: #FEFCF8;
    --shadeTwo: #D9D1BB;
    --shadeThree: #C5BC9F;
    --shadeFour: #9D9475;
    --shadeFive: #5F5948;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

body {
    background-color: var(--shadeOne);
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}

.navTwo a,
.navThree a {
    text-decoration: none;
    font-size: 2 em;
    color: var(--shadeFive);
    margin-left: 2vw;
    font-weight: 500;
}

header a:active,
a:hover {
    color: var(--shadeFive);
    font-weight: 700;
}

header img {
    width: 8vw;
    margin-left: 4vw;
}

.navTwo,
.navThree {
    margin-top: 7vh;
}

.navTwo {
    margin-left: 6vh;
}

.navThree {
    margin-left: 27vw;
}

.navLine {
    border-left: 1px solid var(--shadeFour);
    height: 2.5rem;
    margin-left: 0.5vw;
}

a.active {
    font-weight: 700;
}

.heading-text {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    font-family: Playlist;
    color: var(--shadeFive);
    padding-top: 1vw;
}

.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 600px;
    min-height: 300px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    margin-left: 30vw;
    margin-top: 10vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.paytm {
    color: #5F5948;
    text-decoration: none;
}

.content-table thead tr {
    background-color: var(--shadeFour);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--shadeFour);
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: var(--shadeFour);
}

body::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--shadeOne);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--shadeFour);
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
}

footer {
    background-color: var(--shadeTwo);
    margin-top: 30vh;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-bottom: 5vh;
    color: #5F5948;
}

.columns {
    display: flex;
}

.row {
    margin-left: 8vw;
}

.row p {
    margin-top: 1vh;
    margin-bottom: 0px;
}

.social i {
    color: var(--shadeFour);
    margin-right: 1vw;
}

.Payment-Methods {
    color: var(--shadeFour);
}

.column4 h2 {
    font-size: 95%;
    margin-left: 40vh;
    font-weight: 400;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

.social,
.Payment-Methods {
    margin-left: 40vh;
    color: var(--shadeFour);
}

.column5 {
    margin-top: 5vh;
}

body::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--shadeOne);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--shadeFour);
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
}